OPENAI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
TAVILY_API_KEY=
OLLAMA_URL=http://localhost:11434
VAULT_PATH=
VECTOR_DB=data/vector
DATABASE=data/database.db
LOG_LEVEL=INFO
DEFAULT_MODEL=qwen3
ENABLE_MEMORY=true
ENABLE_VOICE=true
ENABLE_CAMERA=false
ENABLE_BACKUPS=true
TELEGRAM_TOKEN=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
